<div>
  <h2>ご希望日時の送信完了</h2>
  <p>この度はご予約のお問い合わせ、誠にありがとうございます。</p>
  <p>
    ご希望日時を承りました。追ってご連絡させていただきます。
  </p>
  <p>
  ＊＊＊＊ご予約はまだ完了しておりません。＊＊＊＊</p><P>空席を確認後こちらからの返信を持って、ご予約とさせてください。ご希望に添えない場合がございますので、あらかじめご了承ください。
  </p>
</div>
